.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;

    &__logo{

    }

    &__ul{

    }

    &__ul a:last-child{
        margin-left: 20px;
    }
}