@font-face {
  font-family: 'Avenir Next Cyr-Regular';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot');
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr-Demi';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot');
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr-Bold';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot');
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr-Medium';
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot');
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
body {
  padding: 0;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: 'Avenir Next Cyr-Bold', serif;
  font-weight: bold;
  font-style: normal;
  color: #fff;
  margin: 0;
  text-align: center;
}
body p {
  font-family: 'Avenir Next Cyr-Regular', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}
body a:hover,
body a:focus {
  text-decoration: none;
}
body hr {
  display: block;
  width: 250px;
  height: 5px;
  background: #5584c7;
  border: none;
  margin: 20px auto 0;
}
body .button {
  display: block;
  height: 105px;
  padding-top: 30px;
  text-align: center;
}
body .button h4,
body .button h3 {
  font-family: 'Avenir Next Cyr-Demi', serif;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
body .button h4 {
  color: #97bce8;
  margin-bottom: 2px;
}
body #about {
  height: 559px;
  width: 100%;
  background: url("../images/about.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}
body #about .container {
  padding-top: 200px;
}
body #about .container h1 {
  font-size: 60px;
}
body #about .container h2 {
  font-size: 31px;
}
body #about .container .button-about {
  display: block;
  height: 64px;
  width: 256px;
  padding: 16px 0;
  margin-top: 40px;
  border: 1px solid #fff;
  font-family: 'Avenir Next Cyr-Medium', serif;
  color: #fff;
  font-size: 21px;
}
body #about2 {
  height: 915px;
  width: 100%;
  background: url("../images/about2.jpg") no-repeat center center;
  background-size: cover;
}
body #about2 .about-center {
  color: #575757;
  text-align: center;
  margin: 103px 0;
  font-weight: bold;
}
body #about2 .left-block {
  height: 319px;
  padding: 24px 33px 0;
  background: url("../images/apple-class.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 27px;
}
body #about2 .about-button {
  background: #2b4164;
}
body #about2 .right-blocks > div {
  background: #fff;
  margin-bottom: 37px;
  padding: 24px 30px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
}
body #about2 .right-blocks > div > p {
  color: #222222;
  font-weight: bold;
  margin: 0;
}
body #about2 .right-blocks > div:nth-child(2) {
  margin-bottom: 28px;
}
body #double {
  height: 468px;
  width: 100%;
  background: url("../images/double.jpg") no-repeat center center;
  background-size: cover;
}
body #double .double-header {
  padding: 104px 0 96px;
}
body #double .padding {
  padding-right: 20px;
}
body #double .double-button {
  height: 95px;
  border: 1px solid #fff;
  padding-top: 23px;
  margin-top: 12px;
}
body #advantages {
  height: 927px;
  width: 100%;
  background: url("../images/advantages.jpg") repeat;
}
body #advantages .header {
  padding: 120px 0 90px;
}
body #advantages .header h1 {
  font-size: 38px;
  color: #2b4164;
}
body #advantages .block {
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}
body #advantages .block .block-header {
  background: #2b4164;
  height: 133px;
  padding: 29px 0;
}
body #advantages .block .block-header .icon {
  display: block;
  background: url("../images/icons.png") no-repeat;
  height: 75px;
  width: 80px;
}
body #advantages .block.second .block-header .icon {
  width: 147px;
  background-position: -80px 0;
}
body #advantages .block.third .block-header .icon {
  width: 75px;
  background-position: -227px 0;
}
body #advantages .block .block-content {
  height: 295px;
  padding: 30px;
}
body #advantages .block .block-content h5,
body #advantages .block .block-content p {
  color: #363636;
}
body #advantages .block .block-content h5 {
  font-family: 'Avenir Next Cyr-Demi', serif;
  line-height: 34px;
  text-align: left;
  font-size: 24px;
  margin-bottom: 16px;
}
body #advantages > h5 {
  font-family: 'Avenir Next Cyr-Regular', serif;
  font-size: 30px;
  color: #363636;
  margin-top: 80px;
}
body #issues {
  height: 1085px;
  width: 100%;
  background: url("../images/issues.jpg") no-repeat center center;
  background-size: cover;
}
body #issues .header {
  padding: 124px 0 78px;
}
body #issues .header h1 {
  font-size: 38px;
}
body #issues .header hr {
  margin-top: 26px;
}
body #issues .block {
  height: 309px;
  margin-bottom: 22px;
  background: #fff;
}
body #issues .block .block-header {
  height: 142px;
  background: #6f9edc;
}
body #issues .block .block-header .num {
  background: #5584c7;
  width: 103px;
  height: 142px;
  padding: 44px 0;
  font-family: 'Avenir Next Cyr-Bold', serif;
  font-size: 36px;
  color: #fff;
}
body #issues .block .block-header h5 {
  margin-left: 103px;
  padding: 28px;
  font-family: 'Avenir Next Cyr-Demi', serif;
  font-size: 24px;
  text-align: left;
}
body #issues .block .block-content {
  padding: 26px 18px;
}
body #issues .block .block-content p {
  color: #3e3d3d;
  font-weight: bold;
}
body #buttons {
  height: 501px;
  padding-top: 120px;
}
body #buttons .button {
  background: #2b4164;
  width: 780px;
  height: 164px;
  margin: 0 auto 43px;
}
body #buttons .button h4 {
  font-size: 36px;
  margin-bottom: 8px;
}
body #buttons .button h3 {
  font-size: 48px;
}
body #buttons .small-button {
  background: #5584c7;
  width: 570px;
  height: 87px;
  margin: 0 auto;
  padding-top: 20px;
  font-family: 'Avenir Next Cyr-Demi', serif;
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  color: #fff;
}
@media (max-width: 1200px) {
  body #about {
    height: auto;
    padding-bottom: 100px;
  }
  body #about .container {
    padding-top: 100px;
  }
  body #about .container h1 {
    margin-bottom: 20px;
  }
  body #about2 {
    height: auto;
    padding-bottom: 60px;
  }
  body #about2 .about-center {
    margin: 80px 0;
  }
  body #about2 .left-block {
    height: auto;
    padding: 24px 33px;
  }
  body #advantages {
    height: auto;
    padding-bottom: 80px;
  }
  body #advantages .block .block-content {
    height: auto;
    min-height: 334px;
    padding: 20px;
  }
  body #advantages .block .block-content h5 {
    font-size: 20px;
    line-height: normal;
  }
  body #double {
    height: auto;
    padding-bottom: 70px;
  }
  body #double .double-button {
    height: auto;
    padding: 20px 0;
  }
  body #issues {
    height: auto;
    padding-bottom: 60px;
  }
  body #issues .header {
    padding: 80px 0;
  }
  body #issues .block {
    height: auto;
    min-height: 309px;
  }
  body #issues .block .block-content {
    padding: 18px;
  }
  body #issues .block .block-header h5 {
    font-size: 22px;
  }
  body #buttons {
    height: auto;
    padding: 80px 0;
  }
}
@media (max-width: 992px) {
  body #issues .block .block-header {
    height: 220px;
  }
  body #issues .block .block-header .num {
    height: 220px;
    padding: 86px 0;
  }
  body #advantages .block .block-content {
    min-height: 448px;
  }
  body #issues .block {
    min-height: 464px;
  }
  body #buttons .button {
    width: 100%;
  }
}
@media (max-width: 768px) {
  body #about2 {
    padding-bottom: 0;
  }
  body #about2 .about-center {
    margin: 50px 0;
  }
  body #about2 .about-button {
    width: 70%;
    height: 80px;
    padding: 18px 0;
    margin: 0 auto 30px;
  }
  body #double {
    padding-bottom: 50px;
  }
  body #double .double-header {
    padding: 50px 0;
  }
  body #double .double-button {
    margin-top: 30px;
  }
  body #advantages .block .block-content {
    min-height: auto;
  }
  body #issues .block {
    min-height: auto;
  }
  body #advantages {
    padding-bottom: 50px;
  }
  body #advantages .header {
    padding: 60px 0;
  }
  body #advantages .block {
    margin-bottom: 20px;
  }
  body #advantages > h5 {
    margin-top: 30px;
  }
  body #issues .header {
    padding: 60px 0;
  }
  body #issues .block .block-header,
  body #issues .block .block-header .num {
    height: 104px;
  }
  body #issues .block .block-header .num {
    padding: 25px 0;
  }
}
@media (max-width: 700px) {
  body #issues .block .block-header,
  body #issues .block .block-header .num {
    height: 128px;
  }
  body #issues .block .block-header .num {
    padding: 36px 0;
  }
  body #buttons .button {
    height: auto;
    padding-bottom: 30px;
  }
  body #buttons .button h4 {
    font-size: 28px;
  }
  body #buttons .button h3 {
    font-size: 36px;
  }
  body #buttons .small-button {
    padding: 20px 0;
  }
}
@media (max-width: 570px) {
  body #issues .block .block-header,
  body #issues .block .block-header .num {
    height: 152px;
  }
  body #issues .block .block-header .num {
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  body #issues .block .block-header,
  body #issues .block .block-header .num {
    height: 176px;
  }
  body #issues .block .block-header .num {
    padding: 62px 0;
  }
  body #about {
    padding-bottom: 60px;
  }
  body #about .container {
    padding-top: 60px;
  }
  body #about .container h1 {
    margin-bottom: 20px;
  }
  body #about .container h2 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */