.oto-is{
    margin-top: 60px;
    @media(max-width: 576px) {
        margin-top: 0;
    }
    .title{
        margin-bottom: 70px;
    }

    &__body{
        display: flex;

        @media(max-width: 900px) {
            flex-direction: column;
        }
    }

    &__img{
        width: 58.33%;

        @media(max-width: 900px) {
            width: 80%;
            margin-bottom: 10px;
        }
    }
    &__text{
        background: #00327F;
        width: 58.33%;
        position: relative;
        z-index: 2;
        padding: 80px 45px;
        height: fit-content;
        margin-top: auto;

        font-size: 30px;
        font-weight: 500;
        color: #fff;
        line-height: 127.9%; /* 38.37px */

        margin-left: -18.33%;

        @media(max-width: 900px) {
            margin-left: 0;
            width: 100%;
            padding: 20px;
        }
        @media(max-width: 567px) {
            font-size: 20px;
        }
    }

    &__plug{
        width: 30%;
        position: absolute;
        height: 450px;
        background: #F6F6F6;
        z-index: -1;
        transform: translateY(-50px);
        margin-left: 16.66%;

        @media(max-width: 900px) {
            margin-left: 10%;
            width: 80%;
            height: 400px;
        }

        @media(max-width: 567px) {
            height: 200px;
        }
    }
}