
@font-face {
 font-family: Opens Sans;
 src: url(/catalog/view/theme/default/stylesheet/OpenSans-Bold.ttf);
 font-weight: normal;
 }

section#section3 {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: sans-serif;
font-size: 14px;
line-height: 1.42857143;
box-sizing: border-box;
display: block;
z-index: 0;
position: relative;
height: 100vh;
background-image: url(/image/pod_banner.png);
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
background-position: right top;
padding-left: 4em;
padding-right: 4em;
text-align: center;
}

section#section23 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    box-sizing: border-box;
    display: block;
    z-index: 0;
    position: relative;
    height: 100vh;
    background-image: url(/image/23febr.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: right top;
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
}

.bd-textureoverlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    -webkit-transform: translate3d(0, 0, 0px);
    transform: translate3d(0, 0, 0px);
}
.bd-textureoverlay-2:before {
    background-color: #000000;
    opacity: 0.1;
}

h1.bd-textblock-8 {
    color: #e6e6e6 !important;
	margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.bd-container-inner.bd-margins.clearfix {
    position: relative;
    height: 100%;
    max-width: none;
}
.container-fluid-2 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

a.bd-linkbutton-5.data-control-id-2175161.bd-button-16.bd-own-margins.bd-content-element {
    font-family: sans-serif;
	line-height: 34px;
    text-decoration: none;
    transition: .4s ease-out;
    border-radius: 4px !important;
    background: #b8171e;
    color: white;
    font-size: 15px;
    padding: 8px 4px;
	border: 2px solid #b8171e;
    text-align: center;
    margin-bottom: 0px;
    display: block;
    /*max-width: 200px;*/
	max-width: 255px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
	margin-top: 15px;
}
a.bd-linkbutton-5.data-control-id-2175161.bd-button-16.bd-own-margins.bd-content-element:hover {
    background: 0;  
}

.pod-1 {
    color: #ffffff;
    font-weight: bolder;
    font-size: 40px;
	letter-spacing: 1px;
}

.pod-2 {
	font-weight: bolder;
    font-size: 40px;
    color: #ffffff;
	letter-spacing: 1px;
}

.data-control-id-2175112, .data-control-id-2175184 {
    padding: 0 !important;
}

.data-control-id-2175130 {
    padding: 0 !important;
}

.bd-section-5 h1 {
    line-height: 50px;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
	font-family: sans-serif;
	user-select: none;
}

.bd-layoutbox-10 {
    width: 44%;
    left: 0;
    top: 50%;
    position: absolute;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}

@media (max-width: 780px) {

.bd-layoutbox-10 {
width: 100%;
}

.febrary23 {
    padding-left: 1em !important;
    padding-right: 1em !important;
    background: none !important;
    height: 70vh !important;
    padding-bottom: 5vh;
}

}

@media (max-width: 430px) {
.pod-1,.pod-2 {
    font-size: 100%;
}

}
