@import "bootstrap-grid.min.css";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  margin: 0;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

iframe {
  border: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.header__ul a:last-child {
  margin-left: 20px;
}

.main p {
  font-size: 18px;
  margin: 30px 0;
}
.main button {
  padding: 14px 16px;
  background: #00327F;
  border: none;
  color: #fff;
  width: 253px;
  font-size: 16px;
}
.main .col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main img {
  width: 100%;
}
@media (max-width: 1200px) {
  .main img {
    margin-top: 33px;
    max-height: 30svh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.for-whom {
  margin-top: 80px;
}
@media (max-width: 576px) {
  .for-whom {
    margin-top: 40px;
  }
}
.for-whom__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 72px;
}
@media (max-width: 768px) {
  .for-whom__ul {
    margin-top: 40px;
  }
}
.for-whom__ul li {
  width: 50%;
  font-size: 18px;
  font-weight: 500;
  padding-right: 58px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .for-whom__ul li {
    width: 100% !important;
    padding-right: 0;
  }
}
.for-whom__ul li::marker {
  color: #00327F;
}
.for-whom__img {
  margin-left: auto;
  display: block;
}
@media (max-width: 999px) {
  .for-whom__img {
    display: none;
  }
}
.for-whom .title:after {
  content: "";
  width: 345px;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
  height: 2px;
  background: #3076BD;
  display: block;
  position: relative;
  margin-left: auto;
}
@media (max-width: 1200px) {
  .for-whom .title:after {
    content: none;
  }
}
.for-whom .tite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.oto-is {
  margin-top: 60px;
}
@media (max-width: 576px) {
  .oto-is {
    margin-top: 0;
  }
}
.oto-is .title {
  margin-bottom: 70px;
}
.oto-is__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 900px) {
  .oto-is__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.oto-is__img {
  width: 58.33%;
}
@media (max-width: 900px) {
  .oto-is__img {
    width: 80%;
    margin-bottom: 10px;
  }
}
.oto-is__text {
  background: #00327F;
  width: 58.33%;
  position: relative;
  z-index: 2;
  padding: 80px 45px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: auto;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  line-height: 127.9%; /* 38.37px */
  margin-left: -18.33%;
}
@media (max-width: 900px) {
  .oto-is__text {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 567px) {
  .oto-is__text {
    font-size: 20px;
  }
}
.oto-is__plug {
  width: 30%;
  position: absolute;
  height: 450px;
  background: #F6F6F6;
  z-index: -1;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  margin-left: 16.66%;
}
@media (max-width: 900px) {
  .oto-is__plug {
    margin-left: 10%;
    width: 80%;
    height: 400px;
  }
}
@media (max-width: 567px) {
  .oto-is__plug {
    height: 200px;
  }
}

.conditions {
  margin-top: 90px;
}
@media (max-width: 576px) {
  .conditions {
    margin-top: 40px;
  }
}
.conditions .title {
  margin-bottom: 55px;
}
@media (max-width: 576px) {
  .conditions .title {
    margin-bottom: 20px;
  }
}
.conditions__body {
  margin: 0 auto;
  max-width: 990px;
  padding-bottom: 50px;
  background: #F6F6F6;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.14);
}
@media (max-width: 576px) {
  .conditions__body {
    padding-bottom: 20px;
  }
}
.conditions__title {
  padding: 28px 28px 13px 28px;
  margin-bottom: 60px;
  background: #3076BD;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 32.5px; /* 116.071% */
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .conditions__title {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .conditions__title {
    font-size: 20px;
  }
}
.conditions__title span {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  display: block;
}
@media (max-width: 768px) {
  .conditions__list {
    padding: 0 15px;
  }
}
.conditions__list li {
  list-style: none;
  font-weight: 500;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-wrap: balance;
}
@media (max-width: 576px) {
  .conditions__list li {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.conditions__list li:before {
  content: "";
  background: url("/assets/svg/check.svg");
  background-position: 50%;
  min-width: 25px;
  height: 25px;
  display: block;
  margin-bottom: auto;
  margin-right: 10px;
}
.conditions__royalty {
  font-size: 24px;
  padding: 16px 28px;
  background: #3076BD;
  color: #fff;
  margin-top: 22px;
  margin-bottom: 40px;
  text-align: center;
  width: 378px;
}
@media (max-width: 768px) {
  .conditions__royalty {
    width: 100%;
  }
}
.conditions button {
  border: 2px solid rgb(48, 118, 189);
  color: rgb(48, 118, 189);
  padding: 14px 16px;
  font-size: 18px;
  font-weight: 700;
  width: 378px;
}
@media (max-width: 768px) {
  .conditions button {
    width: 100%;
  }
}

.do {
  margin-top: 140px;
  margin-bottom: 90px;
}
.do__other {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  padding: 15px 100px;
  background-color: #00327F;
  background-image: url("/assets/svg/oto_white.svg");
  background-repeat: no-repeat;
  background-position: 100% 20%;
}
@media (max-width: 900px) {
  .do__other {
    padding: 15px 50px;
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .do__other {
    background-image: none;
    padding: 15px;
    font-size: 16px;
  }
}
.do-slider__img {
  width: 100%;
  position: relative;
  z-index: -1;
}
.do-slider__img img {
  width: 100%;
  height: 105%;
  margin-top: -5%;
  -o-object-fit: cover;
     object-fit: cover;
}
.do-slider__form {
  padding: 30px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F6F6F6;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.14);
  color: #00327F;
  max-width: 50%;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}
.do-slider__form input {
  background: #fff;
  border: none;
  height: 50px;
  padding-left: 40px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 8px 0;
}
.do-slider__form input::-webkit-input-placeholder {
  color: #00327F;
  font-weight: 600;
}
.do-slider__form input::-moz-placeholder {
  color: #00327F;
  font-weight: 600;
}
.do-slider__form input:-ms-input-placeholder {
  color: #00327F;
  font-weight: 600;
}
.do-slider__form input::-ms-input-placeholder {
  color: #00327F;
  font-weight: 600;
}
.do-slider__form input::placeholder {
  color: #00327F;
  font-weight: 600;
}
.do-slider__form p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 500;
}
.do-slider__form button {
  background: #00327F;
  padding: 14px 16px;
  margin-left: -30px;
  border: none;
  color: #fff;
  margin-top: 19px;
  font-weight: 500;
}
.do-slider__form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.do-slider__form label div {
  margin-left: 10px;
}
.do-slider__form label a {
  color: #00327F;
  text-decoration: underline;
}
.do-slider__form label input {
  min-width: 20px;
  min-height: 20px;
}

.do-slide__prev,
.do-slide__next {
  background: #D9D9D9;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  stroke: #fff;
  stroke-width: 2px;
}

.do-slide__prev {
  margin-right: 15px;
}

.do-slider__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
  margin-left: 100px;
}
.do-slider__title u {
  font-size: 24px;
  color: #00327F;
}
.do-slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(29px);
          transform: translateY(29px);
  background: #fff;
  position: relative;
  z-index: 2;
  padding-right: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0 10px 10px 0;
}
.do-slider__body .row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00327F;
  text-align: center;
}
.do-slider__body .row > div img {
  width: 130px;
  height: 130px;
  margin-bottom: 23px;
}
.do-slider__body .col-6 {
  margin: 55px 0;
}

.footer {
  padding-bottom: 150px;
  margin-top: 61px;
}
.footer iframe {
  width: 100%;
  height: 460px;
}
@media (max-width: 710px) {
  .footer iframe {
    height: 300px;
  }
}
.footer__body {
  background: #00327F;
  padding: 50px 50px 20px 50px;
  color: #fff;
  text-align: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: -125px auto 0 auto;
  position: relative;
  z-index: 2;
}
@media (max-width: 992px) {
  .footer__body {
    margin-top: 22px;
    max-width: 100%;
  }
}
@media (max-width: 710px) {
  .footer__body {
    padding: 20px 30px 10px 30px;
  }
}
.footer__title {
  font-size: 30px;
  font-weight: 600;
  padding: 0 10px 30px 10px;
  border-bottom: 2px solid #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 30px;
}
@media (max-width: 710px) {
  .footer__title {
    font-size: 18px;
  }
}
.footer__info {
  font-size: 24px;
  line-height: 30px;
}
.footer__info a {
  color: #fff;
}
@media (max-width: 710px) {
  .footer__info {
    font-size: 16px;
  }
}
@media (max-width: 710px) {
  .footer__info p {
    margin: 0;
  }
}
.footer__links {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 710px) {
  .footer__links {
    margin-top: 15px;
  }
}
.footer__links a {
  display: block;
  margin: 0 8px;
  -webkit-transition-duration: 0.05s;
          transition-duration: 0.05s;
}
.footer__links a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#map {
  width: 100%;
}

.gallery .title {
  margin-bottom: 50px;
}
@media (max-width: 576px) {
  .gallery .title {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
.gallery .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 0;
  width: 100%;
}
.gallery__body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__address {
  width: 100%;
  height: 0%;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  -webkit-transform: translateY(-52px);
          transform: translateY(-52px);
  padding: 18px 40px 34px;
  z-index: 2;
  font-weight: 700;
}
@media (max-width: 710px) {
  .gallery__address {
    font-size: 12px;
  }
}

@media (max-width: 710px) {
  .kostil {
    margin-bottom: -54px;
  }
}
.table {
  color: #00327F;
  margin-bottom: 90px;
}
@media (max-width: 576px) {
  .table {
    margin-bottom: 30px;
  }
}
.table .mobile {
  display: none;
  color: #00327F;
}
@media (max-width: 920px) {
  .table .mobile {
    display: block;
    font-size: 20px;
  }
  .table .mobile p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .table .mobile b {
    margin-bottom: 5px;
  }
}
@media (max-width: 576px) {
  .table .mobile {
    font-size: 16px;
  }
}
.table .title {
  margin-top: 90px;
  margin-bottom: 57px;
}
@media (max-width: 576px) {
  .table .title {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.table table {
  width: 100%;
  border-collapse: collapse;
}
@media (max-width: 920px) {
  .table table {
    display: none;
  }
}
.table table tr:first-child td {
  border-bottom: none;
  border-right: none;
  text-align: end;
  padding-bottom: 19px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.table td {
  width: 25%;
  height: 75px;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 12px 0;
}
.table .line {
  height: 28px;
  display: block;
  position: relative;
}

.calculate__body {
  background: #3076BD;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  .wrapper {
    padding: 0 20px;
  }
}

.title {
  color: #00327F;
  font-size: 36px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

a, a:visited {
  color: initial;
}