/* ШРИФТ/FONTS */

@font-face{
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

/* ШРИФТ/FONTS */
/* -------------- */
/*  ОБНУЛЕНИЕ/NULL  */
input[type='number']{
	-moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: Roboto;
	transition-duration: 0.2s;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {outline: none;}
a:focus,
a:active {outline: none;}
aside,
nav,
footer,
header,
section {display: block;}
html,
body {height: 100%;}
body {
	line-height: 1;
	text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/*  ОБНУЛЕНИЕ/NULL  */
/* ----------------*/
.footer{
	background: #222222;
	color: #676767;
	padding: 1rem 0;
	text-align: center;
}
.footer a, .footer a:visited{
	color: #494949;
}
/* ----------------*/
/* HEADER/ШАПКА */

.header{
	box-shadow: 0 8px 20px rgb(0 0 0 / 5%);
	position: sticky;
	top: 0;
	background: #fff;
}
.header__body{
	padding: 15px 0;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.header-right{
	display: flex;
	align-items: center;
}
.header__ul{
	display: flex;
	align-items: center;
	font-size: 1.2rem;
}
.header__ul li{
	margin: 0 10px;
	color: #676767;
}
.header__ul li a, .header__ul li a:visited{
	color: rgb(167,167,167);
}
.header__cart{
	margin-right: 16px;
}

/* HEADER/ШАПКА */
/* ----------------*/
/* MAIN/Основной блок */

.main{
	background-image: url("/img/main-banner.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
	background-attachment: fixed;
	padding: 20vh 0;
	color: #2e3d62;
}
.main:hover{
	background-size: 102%;
	background-position: 55% 55%;
}
.main__title{
	max-width: 50%;
	font-size: 40px;
	font-weight: 700;
}
.main__subtitle{
	font-weight: 300;
	margin-top: 16px;
	max-width: 50%;
	font-size: 24px;
}

/* MAIN/Основной блок */
/* ----------------- */
/* PRODUCTS/Товары */

.products{
	margin: 3rem 0;
}
.products a, .products a:visited{
	color: #000;
}
.product__body{
	display: flex;
	flex-direction: column;
	box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
	border-radius: 10px;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	min-height: 200px;
	font-size: 1.2rem;
	margin: 1rem;
}
.product__header img{
	width: 100px;
}
.product__body:hover{
	transform: scale(1.05);
}
.product__content{
	text-align: center;
	font-weight: 700;
}
.product__content::before{
	content: "";
	display: block;
	width: 50%;
	height: 1px;
	margin: 1rem auto;
	background: rgb(235,235,235);
}

/* PRODUCTS/Товары */
/* -------------- */
/* PLUG/Заглушка */

.plug{
	height: 25vh;
	background-image: url("/img/plug.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
	background-attachment: fixed;

}
.plug:hover{
	background-size: 105%;
	background-position: 55% 55%;
}

/* PLUG/Заглушка */
/* ---------- */
/* ABout */

.about{
	padding: 3rem 0;
	min-height: 50vh;
	display: flex;
	align-items: center;
	background-image: url('/img/about-background.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
	background-attachment: fixed;
}
.about:hover{
	background-size: 103%;
	background-position: 53% 53%;
}
.about-block__content{
	font-size: 1.2rem;
	font-weight: 700;
	margin: 0 auto;
	padding: 1rem;
	box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
	border-radius: 14px;
	color: #1f1f1f;
}
.about__title{
	text-align: center;
	color: #2e3d62;
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
}
.about__subtitle{
	margin-top: 1rem;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
}
.about-block__content:hover{
	transform: scale(1.03);
}
.about-block__img img{
	width: 32px;
}
.about-block__img::after{
	content: "";
	height: 10px;
	width: 1px;
	display: block;
	background: rgb(200,200,200);
	margin: 5px 0 5px 15px;
}

/* ABout */
/* -------------- */
/* ---------- */
/* end */
.end-background{
	background: #1f1f1f;
}
.end{
	display: flex;
	justify-content: space-around;
	color: #e6e6e6;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.end__telephone{
	display: flex;
	align-items: center;
}
.end__links ul{
	margin: 1rem 0;
	display: flex;
	align-items: center;
}
.end__links img{
	width: 28px;
	margin: 0 10px;
}
.end__telephone a, .end__telephone a:visited{
	color: #676767;
	font-weight: 700;
}
.end >div{
	width: 50%;
}
.end__form{
	display: flex;
	flex-direction: column;
}
.end__form input{
	background: none;
	font-size: 1.3rem;
	color: #e6e6e6;
	padding: 1rem;
	border-bottom: 1px solid #494949;
}
.end__form textarea{
	font-size: 1.3rem;
	color: #e6e6e6;
	padding: 1rem;
	background: #222222;
	margin-top: 1rem;
	border-radius: 14px;
}
.end__form button{
	font-size: 1.3rem;
	color: #e6e6e6;
	padding: 1rem;
	background: #222222;
	margin-top: 1rem;
	border-radius: 14px;
}
.end__form button:hover{
	background: #2e2e2e;
	transform: scale(1.03);
}

/* end */
/* user-styles/Общие стили*/

.title{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
.page__title{
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #707B89;
	color: #e6e6e6;
}
.page__title h1{
	font-weight: 700;
	font-size: 2rem;
}




.product-g__body{
	display: flex;
	padding: 130px 0;
	justify-content: space-between;
}
.product-g-left{
	width: 65%;
	color: #666e82;
}
.product-g-right{
	width: 35%;
}
.product-g__preview img{
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
}
.product-g__text{
	padding: 20px;
	margin-top: 30px;
	box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
	border-radius: 10px;
	font-size: 1rem;
	line-height: 1.5;
	
}
.product-g__text li{
	list-style: disc inside;

}
.product-g__versions{
	opacity: 0.5;
	margin-bottom: 10px;
}
.product-g__desctiption{
	font-size: 1.1rem;
}
.product-g__youtube iframe{
	margin-top: 10px;
	width: 100%;
	height: 500px;
	border-radius: 7px;
}
.product-g__form-calc{
	cursor: pointer;
	padding: 2px 9px;
	background: #222222;
	border-radius: 10px;
	color: #fff;
	font-weight: 700;
	font-size: 1.2rem;
	user-select: none;
}
.product-g__form-calc:hover{
	background: #3a3a3a;
}
.product-g__form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product-g__form input{
	width: 33px;
	text-align: center;
	font-size: 1.2rem;
	-webkit-appearance: none;
	margin: 1.5rem 10px;
}
.product-g__price-tag{
	box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
	padding: 2rem;
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
}
.product-g__price{
	text-align: center;
	font-size: 1.7rem;
}
button.product-g__submit {
	background: none;
	padding: 10px 40px;
	border: 1px solid rgb(200,200,200);
	border-radius: 7px;
	font-size: 1.1rem;
}
button.product-g__submit:hover{
	background: rgb(200,200,200);
}


/* user-styles/Общие стили*/


/* AUTH */

.auth{
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1440px;
	margin: 0 auto;
}
.auth__form .title{
	text-align: center;
	color: #e6e6e6;
	margin-bottom: 2rem;
}
.auth__title{
	margin-bottom: 1rem;
	font-size: 1.2rem;
	opacity: 0.5;
}
.auth__body{
	padding: 2rem;
	background: #093679;
	width: 50%;
	box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
	border-radius: 14px;
	min-height: 50%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.auth__form{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.auth__form input{
	height: 45px;
	background: #e6e6e6;
	padding: 12px 20px;
	font-size: 20px;
	margin-bottom: 30px;
	border-radius: 7px;
	color: #121212;
	box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
}
.auth__form button{
	
	background: #e6e6e6;
	padding: 10px 20px;
	font-size: 20px;
	margin-bottom: 10px;
	border-radius: 7px;
	border: 1px solid #e6e6e6;
}.auth__form button:hover{
	background: none;
	color: #e6e6e6;
}
a.forgotpass,a:visited.forgotpass{
	color: #e6e6e6;
}





.account{
	color: #666e82;
	margin-top: 100px;
	margin-bottom: 100px;
}
.account-form__title{
	margin-bottom: 5px;
	margin-top: 1rem;
}
.account-form__select, .account-form__input{
	border: 1px solid rgb(235,235,235);
	width: 100%;
	box-shadow: 0 8px 10px rgb(0 0 0 / 5%);
	padding: 10px 10px;
	border-radius: 4px;
	font-size: 1rem;
}
.account-form button{
	width: 100%;
	background: #093679;
	padding: 15px;
	color: #e6e6e6;
	margin-top: 20px;
	border-radius: 7px;
	font-size: 1rem;
}.account-form button:hover{
	background: #072756;
}
.account-logout{
	display: block;
	text-align: center;
	width: 100%;
	background: #0674ec;
	padding: 15px;
	color: #e6e6e6;
	margin-top: 20px;
	border-radius: 7px;
}
.account-logout:hover{
	background: #055fc0;
	color: #e6e6e6;
}
.account-logout a, .account-logout a:visited{
	color: #e6e6e6;
}
.account .title{
	margin-top: 1rem;
}

.order{
	margin: 100px 0;
}
.order__email{
	margin-top: 30px;
}
.order .title{
	margin-top: 20px;
}

.contact__body{
	box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
	border-radius: 14px;
	padding: 1rem;
}
.contact-form input{
	width: 100%;
	font-size: 1.2rem;
	padding: 10px;
	border: 1px solid rgb(235,235,235);
	border-radius: 7px;
	margin-bottom: 1rem;
}
.contact-form textarea{
	width: 100%;
	resize: none;
	font-size: 1.2rem;
	padding: 10px;
	border: 1px solid rgb(235,235,235);
	border-radius: 7px;
}
.contact-form button{
	background: none;
	padding: 10px 20px;
	border: 1px solid rgb(235,235,235);
	border-radius: 7px;
	width: 70%;
	margin: 1rem auto;
}
.contact-form button:hover{
	background: rgb(235,235,235);
}
.contact__links{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}
.contact__links li{
	width: 25%;
}
.contact__links img{
	width: 32px;
	margin-right: 1rem;
}
.contact__links a{
	margin: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	color: #2e2e2e;
}
.contact__links a:hover{
	transform: scale(1.05);
}