$border: #D9D9D9;

.table{

    color: #00327F;
    margin-bottom: 90px;

    @media(max-width: 576px) {
        margin-bottom: 30px;
    }

    .mobile{
        display: none;
        color: #00327F;
        @media(max-width: 920px) {
            display: block;
            font-size: 20px;
            p{
                display: flex;
                flex-direction: column;
            }
            b{
                margin-bottom: 5px;
            }
        }
        @media(max-width: 576px) {
            font-size: 16px;
        }
    }
    .title{
        margin-top: 90px;
        margin-bottom: 57px;

        @media(max-width: 576px) {
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }

    table{
        width: 100%;
        border-collapse: collapse;
        @media(max-width: 920px) {
            display: none;
        }

        tr:first-child td{
            border-bottom: none;
            border-right: none;
            text-align: end;
            padding-bottom: 19px;
            height: fit-content;
        }
    }
    td{
        width: 25%;
        height: 75px;
        border-right: 1px solid $border;
        border-bottom: 1px solid $border;
        padding: 12px 0;
    }

    .line{
        height: 28px;
        display: block;
        position: relative;
    }
}