*{
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
}
body{
   background: #111;
 
}
.wrapper{
   max-width: 600px;
   margin: 0 auto;

   background-image: url('/Rectangle.png');
}

.main{
   background: rgba(67, 160, 87, 0.82);
}
.main_title{
   text-align: center;
   font-size: 40px;
   font-weight: 900;
   color: #fff;
   padding-top: 35px;
}
.main_theme{
   border-radius: 17px;
   background: #D86161;
   color: #fff;
   text-align: center;
   font-size: 26px;
   padding: 20px 0;
   margin: 0 10px;
   margin-top: 40px;
}
.main_img{
   width: 100%;
}

.header{
   text-align: center;
   display: flex;
   justify-content: center;
   color: #fff;
   position: sticky;
   align-items: center;
   background: rgba(111, 111,111, 0.9);
   top: 0;
}
.header_it{
   font-weight: 900;
   font-size: 50px;
   letter-spacing: 14.76px;
}
.header_text{
   font-size: 12px;
   font-weight: 900;
}

.section_white{
   background: rgba(255, 255, 255, 0.92);
}
.section_green{
   background: rgba(67, 160, 87, 0.82);
}
.section{
   padding: 70px 5px;
   font-size: 20px;
   font-weight: 700;
}
#welcome{
   text-align: center;
   font-size: 18px;
}

.section__title{
   text-align: center;
   font-weight: 900;
   font-size: 20px;
   border-radius: 7px;
   padding: 15px 0;
}
.section__title-img{
   display: block;
   text-align: center;
}

.section_green .section__title{
   background: #FFF;
}
.section_green ul{
   color: #FFF;
}

ul{
   list-style: inside;
   padding: 0 5px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 20px;
}
ul span{
   font-size: 12px;
}