@import url('styles.css');
@import url('media.css');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   color: #fff;
}
main{
   scroll-behavior: smooth;
}
.mobile-burger{
   display: none;
}
.mobile-burger span{
   width: 20px;
   height: 2px;
   margin: 2px 0;
   display: block;
   background: #000;
   transition-duration: 0.2s;
}
.mobile-burger.active span:first-child{
   rotate: 45deg;
}
.mobile-burger.active span:nth-child(2){
   opacity: 0;
}
.mobile-burger.active span:last-child{
   rotate: -45deg;
   margin-top: -7px;
}

