a{
   text-decoration: none;
   color: #686868;
   transition-duration: 0.2s;
}

header{
   display: flex;
   justify-content: center;
   align-items: center;

   background-image: url(img/background.png);
   background-color: #D3D2C4;
   box-shadow: var(--shd,0 0 5px rgba(0,0,0,.7));

   height: 74px;

   position: sticky;
   top: 0;
   z-index: 3;
}
/* header>div{
   width: 33.333%;
} */

.header_nav{
   display: flex;
   justify-content: center;

}
.header_nav a{
   padding: 16px 24px;
   font-weight: 700;
   text-align: center;
   display: flex;
   align-items: center;
}
.header_nav a.active-link{
   background: rgb(237,233,225);
}
.header_nav a:hover{
   background: rgb(237,233,225);
}
.header_logo img{
   width: 53px;
   position: absolute;
   top: 10px;
   left: 20px;
}
.mobile-nav{
   display: flex;
   flex-direction: column;
   background: #D3D2C4;
   width: 100svw;
   position: fixed;
   left: 0;
   top: -250px;
   text-align: center;
   border-radius: 0 0 20px 20px;

   transition-duration: 0.2s;
   z-index: -1;
}
.mobile-nav a{
   padding: 20px;
}
.mobile-nav a.active-link{
   background: rgba(222,222,222,0.6);
   border-radius: 20px;

}
.mobile-nav.active{
   top: 70px;
}

.main{
   width: 100%;

   background-image:  url('img/main.png');
   background-position: 50%;
   background-size: cover;

   justify-content: center;
   align-items: center;
   display: flex;
}
.main_body{
   max-width: 468px;
   background: rgba(0,0,0,0.7);
   padding: 30px 15px;
   text-align: center;
   margin: 100px 0 ;
}
.main_body h1{
   font-size: 35px;
   margin-bottom: 25px;
}
.main_body h2{
   font-weight: 400;
   font-size: 22px;
}


.course-discount{
   width: 100%;

   background-image:  url('img/course-discount.png');
   background-position: 50%;
   background-size: cover;

   justify-content: center;
   align-items: center;
   display: flex;
   font-size: 24px;
}
.course-discount-body{
   text-align: center;
   background: rgba(0,0,0,0.8);
   padding: 30px 15px;
   width: 90svw;
}
.course-discount h3{
   color: #BADA55;
   margin: 10px 0;
}
.course-discount a{
   background-color: #384B03;
   font-size: 18px;
   font-weight: 700;
   color: #fff;
   padding: 10px 100px;
   display: block;
   width: fit-content;
   text-align: center;
   margin: 15px auto 0 auto;
}
.course-discount a:hover{
   background: #000;
}


.about{
   width: 100%;

   background-image:  url('img/course-discount.png');
   background-position: 50%;
   background-size: cover;

   justify-content: center;
   align-items: center;
   display: flex;
}
.about_body{
   max-width: 576px;
   background: rgba(0,0,0,0.7);
   padding: 30px 15px;
   text-align: center;
   margin: 100px 0 ;
}
.about h2{
   font-size: 28px;
   margin-bottom: 20px;
}
.about p{
   font-size: 18px;
}

.program{
   width: 100%;

   background-image:  url('img/programm.jpg');
   background-position: 50%;
   background-size: cover;

   justify-content: center;
   align-items: center;
   display: flex;
}
.program_body{
   max-width: 730px;
   background: rgba(0,0,0,0.7);
   padding: 30px 40px;
   text-align: center;
   margin: 50px 0 ;
}
.program_body h2{
   font-size: 28px;
}
.program_body h3{
   font-size: 20px;
}
.program ul{
   padding: 0 0 0 20px;
   margin: 30px 0;
   text-align: start;
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   font-size: 18px;
   font-weight: 500;
}
.program li{
   margin-bottom: 10px;
}
.program a{
   background: #384B03;
   font-weight: 700;
   display: block;
   padding: 10px 0;
   color: #fff;
}
.program a:hover{
   background: #000;
}

.advantages{
   width: 100%;

   background-image:  url('img/advantages.png');
   background-position: 50%;
   background-size: cover;

   justify-content: center;
   align-items: center;
   display: flex;
}
.advantages_body{
   width: 100%;
   background: #001102c1;
   padding: 30px 0;
}
.advantages h2{
   text-align: center;
   margin-bottom: 50px;
}
.advantages_row{
   display: flex;
   justify-content: space-between;
   max-width: 1400px;
   margin: auto;
}
.advantages_row>div{
   padding: 0 20px;
   max-width: 300px;
}
.advantages_row>div:last-child{
   margin-bottom: 0;
}
.advantages_logo{
   background: rgb(223,223,207);
   border-radius: 50%;
   width: 90px;
   height: 90px;

   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center
}
.advantages img{
   color: #384B03;
   max-width: 29px;
   max-height: 29px;
}
.advantages_title{
   font-size: 20px;
   font-weight: 700;
   margin: 20px 0 10px 0;
   text-align: center;
}
.advantages_description{
   font-size: 18px;
   text-align: center;
}



.for-whom{
   width: 100%;

   background-image:  url('img/for-whom.png');
   background-position: 50% 0%;
   background-size: cover;

   justify-content: center;
   padding: 30px 15px;
   align-items: center;
}
.for-whom h2{
   font-size: 28px;
   text-align: center;
   margin-bottom: 30px;
}
.for-whom-row{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 1000px;
   margin: auto;
}
.for-whom-row> div{
   width: 45%;
   max-width: 471px;
   background-color: #120b08ce;
   margin: 0 auto 50px auto;
   display: flex;
   align-items: start;
   padding: 20px;
   line-height: 150%;
}
.for-whom-item img{
   max-width: 29px;
   margin-right: 10px;
}



.feedback{
   width: 100%;

   background-image:  url('img/feedback.png');
   background-position: 50%;
   background-size: cover;

   justify-content: center;
   align-items: center;
   display: flex;
}
.feedback_body{
   width: 100%;
   background: rgba(0,0,0,0.7);
   padding: 30px 15px;
   text-align: center;
}
.feedback_row{
   display: flex;
   max-width: 1000px;
   margin: auto;
   margin-top: 40px;
   justify-content: space-between;
}
.feedback_row>div{
   display: flex;
   flex-direction: column;
}
.feedback_row>div:last-child{
   margin-bottom: 0;
}
.quote{
   max-width: 29px;
   opacity: 0.5;
   margin-left: auto;
   transform: translate(15px,0);
   margin-bottom: -15px;
}
.quote:nth-child(2n){
   margin-top: -20px;
   margin-bottom: 0;
}



.course-discount2{
   width: 100%;

   background-image:  url('img/course-discount2.png');
   background-position: 50%;
   background-size: cover;

   justify-content: center;
   align-items: center;
   display: flex;
   font-size: 24px;
}
.course-discount2-body{
   text-align: center;
   background: rgba(0,0,0,0.8);
   padding: 30px 15px;
   width: 100svw;
}
.course-discount2 h3{
   color: #BADA55;
   margin: 10px 0;
}
.course-discount2 a{
   background-color: #384B03;
   font-size: 18px;
   font-weight: 700;
   color: #fff;
   padding: 10px 100px;
   display: block;
   width: fit-content;
   text-align: center;
   margin: 15px auto 0 auto;
}
.course-discount2 a:hover{
   background: #000;
}



footer{
   padding: 30px 15px;
   background: #000;
}
.footer_body{
   max-width: 1400px;
   display: flex;
   justify-content: space-between;
   margin: auto;
}
.footer__right{
   display: flex;
   flex-direction: column;
   text-align: end;
   color: #686868;
}
.footer_links a{
   margin-right: 10px;
}