.header {
    width: calc(100% - 4px);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
    border: 2px solid #fff;

    border-radius: 0 0 40px 40px;
}

.header_container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}


.header_logo{
    font-size: 24px;
    font-weight: 700;
}

.header_nav a{
    font-size: 20px;
    margin-left: 22px;
    color: #fff;
    padding: 10px;
}
.header_nav a:nth-child(4){
    margin-right: -10px;
}

@media(max-width: 991px){
    .header_nav a:nth-child(2),.header_nav a:nth-child(3){
        display: none;
    }
    .header_nav a:nth-child(1){
        margin-left: 0;
    }
    .header_nav{
        display: flex;
        align-items: center;
        text-wrap: nowrap;
    }
    .header_logo{
        font-size: 20px;
        text-wrap: nowrap;
    }
    .header_nav a{
        font-size: 12px;
        padding: 8px;
        margin-left: 8px;
    }
    .header{
        border-radius: 0 0 24px 24px;
    }
}
