.main{
    background-image: url("/assets/imgs/main-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    padding: 220px 0 78px 0;
    border-radius: 0 0 180px 180px;
    margin-top: -105px;

    --text-width: 1229px;
}

.main_title{
    font-size: 48px;
    max-width: var(--text-width);
}
.main_title span{
    font-size: 64px;
}

.main_subtitle{
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: var(--text-width);
}

.main_button{
    margin-bottom: 78px;
}
.main_button svg{
    margin-right: 11px;
}

@media(max-width: 1600px){
    .main{
        padding: 160px 0 60px 0;
        border-radius: 0 0 24px 24px;
    }
    .main_title span{
        font-size: 32px;
    }
    .main_title{
        font-size: 28px;
    }
    .main_subtitle{
        margin-top: 35px;
        font-size: 20px;
        margin-bottom: 30px;
    }
}

@media(max-width: 991px){
    .main{
        padding: 160px 0 60px 0;
        border-radius: 0 0 24px 24px;
    }
    .main_title span{
        font-size: 24px;
    }
    .main_title{
        font-size: 20px;
    }
    .main_subtitle{
        margin-top: 24px;
        font-size: 14px;
        margin-bottom: 24px;
    }
    .main_button{
        margin: auto;
    }
}