@import "css/header.css";
@import "css/main.css";
@import "css/btn.css";
@import "css/why.css";
@import "css/how-works.css";
@import "css/subscribe.css";
@import "css/start.css";
@import "css/footer.css";
@import "css/reviews.css";

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(4, 18, 44, 1);

    overflow-x: hidden;
}

.container{
    max-width: 1500px;
    margin: auto;
    padding: 0 16px;
}

a, a:visited{
    color: transparent;
    text-decoration: none;
}


.title{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

@media(max-width: 1600px){
    .container{
        max-width: 991px;
    }
    .title{
        font-size: 40px;
    }
}

@media(max-width: 991px){
    .title{
        font-size: 24px;
    }
}